[2017-07-22 01:09] bgilbert opened #138 "Consider making coreos-metadata-sshkeys@.service ConditionFirstBoot=true"
# Issue Report #

## Feature Request ##

### Environment ###

AWS

### Desired Feature ###

After SSH keys have been set, don't continue to set them on every boot.  With the current behavior, keys that are deleted by the user can come back later, which is surprising in the Ignition world.

Alternatively, document how to disable the service.

### Other Information ###

See https://github.com/coreos

[2017-07-24 22:27] crawford commented on #138
Adding FirstBoot seems like a good idea on all platforms which don't allow keys to be changed (e.g. AWS, Azure, DigitalOcean).

[2018-07-03 09:05] lucab opened #94 "docs: record cloud-specific quirks"
Cloud providers may have specific quirks and restrictions which could result in surprising behaviors of `coreos-metadata` or which could require workarounds in the codebase. Those should be documented in the repository, so that we have an explicit note to reference.

The first example of this has been reported at https://github.com/coreos/bugs/issues/2468#issue-335609026.
Azure may (or may not, de

[2018-07-03 09:07] lucab opened #95 "azure: log a warning on network failure if non-root"
This is related to https://github.com/coreos/coreos-metadata/issues/94. If we experience a network failure on Azure while trying to reach the metadata endpoint and the process is not running as root, we should log a more informative message about possible Azure-specific local firewalling,

[2018-07-03 09:12] lucab opened #96 "openstack: check and set CAP_SYS_ADMIN before using a config-drive"
Mounting a config-drive requires `CAP_SYS_ADMIN` in the thread invoking the `mount` syscall. This is typically true when running `coreos-metadata` as the root user, but it would be better to make this explicit and only requiring the specific capabilities it needs.

[2018-07-31 16:35] csssuf opened #107 "cargo: consider setting panic=abort in the release profile"
# Feature Request #

## Environment ##
All.

## Desired Feature ##
Building release binaries with `panic=abort` reduces their size by a considerable amount, which would make including `coreos-metadata` in the initramfs more palatable. However, it might interfere with some cleanup behavior we are currently relying on with `panic=unwind`.

## Other Information ##
See #105 for the original discussion

[2018-08-02 15:17] dtretyakov opened #109 "Azure: Failed to start CoreOS Metadata Agent"
`coreos-metadata.service` does not start on Core OS in Azure.

## Operating System Version ##
[code]

## coreos-metadata Version ##

## Environment ##
Azure VM

## Expected Behavior ##
`coreos-metadata.service` starts

## Actual Behavior ##

`coreos-metadata.service` fails

## Other Information ##

[code]

[code]

[2018-08-02 15:26] dtretyakov commented on #109
It could be caused by the recent changes made by @csssuf and @sdemos in the: https://github.com/coreos/coreos-metadata/blob/master/src/providers/azure/mod.rs

[2018-08-02 16:38] csssuf commented on #109
Those changes haven't made it into a release yet, so this is an existing bug. There are a number of `unwrap()`s in the Azure crypto logic which should probably be removed in favor of proper error reporting, one of which is likely the cause of this issue.

@dtretyakov, can you get a backtrace from `coreos-metadata`? You should be able to do so by putting the following in `/etc/systemd/system/coreos

[2018-08-02 19:27] sdemos commented on #109
The Azure crypto logic is definitely messy. Doing a `chain_err` instead of `unwrap` is definitely the way to go, I think I left those there initially because of assumptions (that might be wrong) about the cryptographic structures I was getting back from the API. Also, since it's `Option::unwrap` and not `Result::unwrap`, only 3 of the 5 unwrap calls apply (these: https://github.com/coreos/coreos-m

[2018-08-02 19:44] dtretyakov commented on #109
@sdemos, this machine was created with username/password pair:
![image](https://user-images.githubusercontent.com/1025927/43606794-a80254de-969c-11e8-9f47-422592947c97.png)

So it looks like it may not have expected ssh key.

[2018-08-02 21:53] sdemos commented on #109
@dtretyakov if you have the opportunity at some point, I would be very interested in seeing what happens when you get the backtrace as @csssuf suggested. I have a guess as to which unwrap it is triggering (https://github.com/coreos/coreos-metadata/blob/master/src/providers/azure/crypto/mod.rs#L66) but it would be nice to know for sure.

As far as fixing this bug, we should audit all locations wher

[2018-08-03 08:02] dtretyakov commented on #109
I've verified that the case with ssh public key works fine.

When was used username/password pair I've tried to enable backtrace for rust but it looks like it does not take any effect:

[code]

[2018-08-03 21:29] csssuf opened #111 "Remove index accesses from Azure provider"
# Bug #

## coreos-metadata Version ##
1.0.0+

## Environment ##
Azure

## Expected Behavior ##
The Azure provider should not use index accesses, as they can cause `panic`s.

## Actual Behavior ##
The Azure provider uses index accesses [here](https://github.com/coreos/coreos-metadata/blob/58a102b67e2c497f79b5393e30a3388996efbfe4/src/providers/azure/mod.rs#L204) and [here](https://github.com/coreos

[2018-08-03 22:15] sdemos commented on #111
More generally, I think it would be useful to audit the entire codebase for "things that can `panic`" and remove them wherever possible. I think we pretty much always want explicit error handling.

[2018-08-17 13:05] lucab commented on #109
This should be fixed in 2.0.0. For ContainerLinux, it is now released as part of [1871.0.0](https://coreos.com/releases/#1871.0.0).

I'm going ahead and closing this. @dtretyakov feel free to followup if you are still hitting this in the latest release.

[2018-08-17 13:05] #109 closed, assigned to nobody

[2018-08-20 10:11] dtretyakov commented on #109
@lucab, thanks, in CoreOS v1871 it works. Waiting when it will be available in the Stable channel.

[2018-10-23 06:34] jfkw opened #118 "RPM lint warning in dependency {users-0.7.0 via update-ssh-keys-0.3.0): call to setgroups before setuid"
# Bug #

When building coreos-3.0.1, rpmlint reports call to `setgroups` before `setuid`.

This appears to be in crate `users-0.7.0`, a dependency of direct dependency crate `update-ssh-keys-0.3.0`. Some changes in this area have been integrated in users-0.8.0, currently researching whether those eliminate the warning.

The warning may not indicate an actual problem, but it would be helpful to eli

[2018-10-23 07:56] lucab commented on #118
Thanks for the report. I think this ticket is actually covering `update-ssh-keys`, but I'm fine handling this here.

The warning is related to `switch_user_group` in the `users` crate (all versions): https://github.com/ogham/rust-users/blob/15af1576e40fd3e5592b918de353df6a976c42c4/src/switch.rs#L134-L143

We are calling that in `update-ssh-keys`: https://github.com/coreos/update-ssh-keys/blob/v0.3

[2018-10-23 13:45] jfkw commented on #118
@lucab Yes, thanks, I'll report the issue at rust-users.

[2018-10-31 01:25] bgilbert opened #120 "Add mechanism for reporting instance health to cloud platforms"
# Feature Request #

## Environment ##

Azure, Packet

## Desired Feature ##

Consider adding a command-line option or mode which reports a successful boot to the cloud platform and then exits.  On platforms that don't require health reporting, the command would silently succeed.

## Other Information ##

The idea is that the command would run as a systemd oneshot after greenboot is happy.

See al

[2018-11-05 16:34] lucab commented on #120
Some more details on cloud reporting protocols.

## Packet

A phone-home IP can be discovered from the metadata service. A simple JSON needs to be posted there. We are interested in reporting a `"state":"succeeded"`. This is documented at https://support.packet.com/kb/articles/user-state

## Azure

The wire server is provided as a custom DHCP option number 245 (a known/fallback one is at `168.63.1

[2018-11-06 18:16] bgilbert commented on #120
The Azure DHCP option is needed for AzureStack and for ASM instances; ARM instances should use a consistent IP.

[2018-11-06 18:37] arithx commented on #120
@lucab: I've posted some relevant info about the Azure check-in along with a simplified bash script + systemd service to perform it in coreos/fedora-coreos-tracker#65

[2018-11-09 20:36] arithx commented on #120
For Azure specifically we might also need to bounce networking.

[Ubuntu is cycling networking inside of cloud-init on Azure](https://git.launchpad.net/cloud-init/commit/?id=86715c88aab8561) to DHCP to Azure with the correct hostname so the DDNS is updated for private network communications (which they note mimics what the agent is doing).

[2018-12-15 06:44] bgilbert opened #126 "Consider renaming coreos-metadata"
# Feature Request #

## Environment ##

Any

## Desired Feature ##

Consider renaming coreos-metadata.  It seems that the project is drifting toward becoming a minimal, generic cloud agent, in which case the name is not very apt.  In particular:

- The project will (hopefully!) be useful on other distros, so `coreos` isn't great.
- It does more than collect metadata, so `metadata` isn't great eith

[2018-12-17 17:13] ajeddeloh commented on #126
`The-agent-formally-known-as-coreos-metadata`. We could keep with the rocket/planet/earth related names (`mantle`, `Ignition`, `rkt`, etc). Or just pick a city in Massachusetts.

[2018-12-20 14:59] dustymabe commented on #120
copying this from https://github.com/coreos/fedora-coreos-tracker/pull/102#discussion_r243104574

So we may be able to break out the azure work into two parts. One that does DHCP option parsing and one that does not.

[2019-01-03 22:24] bgilbert commented on #126
@lucab pointed out that we could direct the new output variables to a different file and eventually drop the old one.  systemd will fail a service with a missing `EnvironmentFile`, so that at least breaks dependent services more loudly than removing variables from an existing file.

The existing file is `/run/metadata/coreos`, which probably needs a rename anyway.

[2019-01-14 21:51] jlebon opened #146 "Read lease files from dhclient and NetworkManager on Azure and CloudStack"
RHCOS/FCOS uses NetworkManager presently. So the logic to look for option 245 in the systemd-networkd lease file would need to be adapted to read from those lease files (`/var/lib/NetworkManager` on RHEL7, `/var/lib/dhclient` on FCOS and likely RHEL8). Might be worth investigating if NM's D-Bus API exposes this so we don't have to learn dhclient's syntax.

Though note that this is not a blocker fo

[2019-01-14 22:41] bgilbert commented on #146
The CloudStack provider also reads networkd lease files via a call to `dns_lease_key_lookup()`.

[2019-02-01 02:05] bgilbert opened #157 "Drop merging of authorized_keys.d into authorized_keys"
# Feature Request #

## Environment ##

Any

## Desired Feature ##

At present, `coreos-metadata --ssh-keys` implicitly assumes that [update-ssh-keys](https://github.com/coreos/update-ssh-keys) is distributed as part of the OS.  That is, it assumes that SSH keys should be written into `~/.ssh/authorized_keys.d/<file>`, and then all files in `authorized_keys.d` should be merged into `authorized_key

[2019-03-04 17:29] dustymabe commented on #126
👍 - unless someone can come up with something witty that fits I say let's just go with it.

[2019-03-14 16:14] lucab opened #176 "docs/release-guide: move to checklist ticket template"
On each release we publish a `.crate` file to crates.io, which is then used by distribution to package coreos-metadata. Its SHA256 is recorded at publish time in the index, eg
https://github.com/rust-lang/crates.io-index/commit/e0bc5cf11001a1e79521f3fb21d568d2c50fed42.

In order to improve the integrity chain and to make manual checks easier, we should also record the SHA256 of the `.crate` file o

[2019-03-18 14:53] #157 closed, assigned to nobody

[2019-03-21 14:15] dustymabe commented on #126
Some ones that I thought of that apparently have software already named for it so we probably can't use:

- tugboat
- crankshaft
- piston (I think bgilbert thought of this one)

more:

- gasket - couldn't find any software projects with this name but probably doens't apply to what we're doing

Link for [parts of an engine](http://www.mechanicalbooster.com/2014/02/what-are-main-parts-of-automobile-

[2019-03-21 14:58] bgilbert commented on #126
Dumping some names from my notes:

- ullage
- hypergol
- glowplug
- nichrome
- bridgewire
- bellows
- pintle (as in pintle injector)
- carburetor
- parhelion

I kinda like "parhelion", but it's not ideal either.

[2019-03-21 17:28] lucab commented on #126
From non-native speaker point of view, from the list above "glowplug" and "bridgewire" are the most obvious to pronounce on first encounter.

[2019-03-22 14:53] dustymabe commented on #126
some more

- ether (looks like might be already taken)
- re-fuel
- afterburner
- takeoff
- liftoff (looks taken)
- airborne

[2019-03-22 16:46] ajeddeloh commented on #126
I'm somewhat partial to `afterburner`. It sounds good, `coreos-metadata` runs after Ignition and it even has that in the name. It fits with our old "planets, the earth, and rockets" theme (btw IMO we should totally keep going on that theme, it's a good one).

EDIT: [looks like there are a lot of `afterburner` projects](https://github.com/search?q=afterburner) (also `scramjet`)

[2019-03-22 16:52] dustymabe commented on #126
dang

[2019-03-22 17:03] dustymabe commented on #126
we could add a word in from to make it unique:

- platform-afterburner
- boot-afterburner
- startup-afterburner
- ignition-afterburner

or just call it `afterburn` or `boot-afterburn`

[2019-03-22 17:26] jlebon commented on #126
I like a lot of the suggestions here. `afterburn` sounds pretty nice.

[2019-03-22 21:32] bgilbert commented on #126
- pimento

[2019-03-22 21:34] ajeddeloh commented on #126
`pilotlight` (only match is https://github.com/cwindeknecht/pilotlight with 6 commits from 2018)

[2019-03-23 17:14] ghost commented on #126
* `boot-bolts`
* `cogwheel`

Something with bolt like bolt-data works maybe?

`bridgewire` and `parhelion` are nice, too. Would suggest nothing with burning or jokes will ensue if it's on fire. 😅

[2019-03-27 14:51] bgilbert commented on #126
Okay, here's what I'm thinking:

| Item | Value |
| -- | -- |
| Project name | Afterburn |
| Binary | `afterburn` |
| Units | `afterburn.service`, `afterburn-sshkeys@.service` |
| Output path | `/run/metadata/afterburn` |
| Environment variable prefix | `AB_` (or `AFTERBURN_`?) |
| Azure agent name | `com.coreos.afterburn` |

Yes/no?

[2019-03-27 14:59] jlebon commented on #126
I prefer the more explicit `AFTERBURN_`. All sounds good to me otherwise!

[2019-03-27 22:06] #126 closed, assigned to nobody

[2019-03-28 17:48] lucab commented on #176
Also, @bgilbert suggested to convert/augment with a checklist like https://github.com/coreos/ignition/blob/master/.github/ISSUE_TEMPLATE/release-checklist.md

[2019-04-04 15:55] serbrech opened #197 "Azure: doesn't set hostname"
# Bug #
Afterburn does not set the hostname on Azure.
## Operating System Version ##
RHCOS
## Afterburn Version ##
master
## Environment ##
Azure

## Expected Behavior ##
`/etc/hostname` contains the machine name defined on Azure
## Actual Behavior ##
no file

## Other Information ##
`curl http://169.254.169.254/metadata/instance/compute/name?api-version=2017-08-01&format=text` gives you the hostn

[2019-04-04 15:56] serbrech commented on #197
@jpang @imcleod @awesomenix

[2019-04-04 16:42] lucab commented on #197
I seem to remember the Azure DHCP is able to hand out the hostname to a node via DHCP (Option-12, possibly), which would be the reason why Afterburn doesn't have to take care of that.

Is either the DCHP client not asking/handling that option, or the server not providing it?

[2019-04-04 18:03] bgilbert commented on #197
I tried it, and Azure DHCP apparently is not sending the hostname when requested to.  On Container Linux I think WALinuxAgent is setting the hostname.  So implementing in Afterburn and running that in the initramfs seems like the right approach.

[2019-04-05 09:00] lucab commented on #197
Then I was mixing up with some other cloud provider, and we have indeed to add such logic to Afterburn.

While I didn't see a JSON schema for the metadata response, there are comprehensive examples and docs at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#getting-more-information-about-the-vm-during-support-case. As we don't care about other properties i

[2019-04-12 08:39] #197 closed, assigned to nobody

[2019-04-23 08:49] lucab commented on #176
Self-note: local digests come from
[code]

[2019-05-17 18:08] dustymabe commented on #120
was this fixed in https://github.com/coreos/afterburn/pull/147 ?

[2019-05-22 15:51] lucab commented on #120
@dustymabe indeed, https://github.com/coreos/afterburn/pull/147 plus https://github.com/coreos/afterburn/pull/201 fixed this. Closing.

[2019-05-22 15:51] #120 closed, assigned to nobody

[2019-06-11 15:11] ashcrow opened #228 "Add Daemon Mode"
# Feature Request #

Create a daemon mode for afterburn for clouds where having a reactive/scheduled pattern makes sense instead of oneshot runs.

## Environment ##
TBD

## Desired Feature ##

Allow specific providers to have a daemon mode which runs consistently and reacts to specific changes.

## Other Information ##
@darkmuggle has done some initial plumbing work.

[2019-06-20 20:34] ashcrow opened #229 "Cut a new release"
There has roughly been [`the answer to life, the universe, and everything`](https://www.google.com/search?q=the+answer+to+life%2C+the+universe%2C+and+everything) commits since `4.1.0` was released. Recently https://github.com/coreos/afterburn/pull/224 merged and we'd like to start utilizing it. Could we get a new release cut for `afterburn`?

[2019-06-20 20:34] ashcrow commented on #229
/cc @lucab

[2019-06-20 21:25] rfairley commented on #229
:+1: will also update the Fedora `rust-afterburn` for the new release!

[2019-06-21 09:42] lucab commented on #229
In progress at https://github.com/coreos/afterburn/pull/230.

[2019-06-21 14:02] #229 closed, assigned to nobody

[2019-07-19 08:19] lucab opened #251 "docs: mention platform naming skew"
Afterburn usually follows Ignition platform naming convention, in order to auto-detect the platform.

However there are several platforms where the metadata component is only optional. On those platforms, in case of failures, Afterburn cannot distinguish a known-good state (i.e. this infra lacks the metadata component) from a failed state (i.e. network or logic error).

As such, Afterburn knows ab

[2019-07-19 08:20] lucab commented on #251
This follows up to @cgwalters's doubt from https://github.com/openshift/machine-config-operator/pull/964#issuecomment-511036266.

[2019-07-19 08:28] lucab opened #252 "config: consider sourcing options from files"
Afterburn is currently a one-short binary, entirely configured via command-line flags. This is on purpose to keep the complexity (both internally and externally) low.

Our service units are generally written to be easy to override via drop-ins, such as:
[code]

However, if we start increasing the design complexity (e.g. with a daemon mode, https://github.com/coreos/afterburn/issues/228), we should

[2019-07-19 08:30] lucab commented on #252
This follows up to @cgwalters's suggestion from https://github.com/openshift/machine-config-operator/pull/964#issuecomment-511575675.

I'm not keen to go down this route **right now**, but this is pretty much a pre-requisite if we are doing big architectural changes like #228.

[2019-07-19 08:48] lucab commented on #228
This is a quite big architectural change, which for the moment we are not undertaking.

The main rationale is that we are on purpose not trying to re-implement an omni-cloud all-encompassing daemon agent, but instead breaking apart common functionality in single one-short verbs.

If we ever start doing down that route, there are a few pre-requirements to address first, like https://github.com/core

[2019-09-03 13:15] lucab commented on #94
Additional cloud-specific quirk for OpenStack, coming from https://github.com/openshift/machine-config-operator/pull/964#issuecomment-511109721.

As Openstack is not an homogeneous platform and the metadata component is only optional, the static Ignition platform ID is not useful there (i.e. it can't signal whether the metadata endpoint exists or not).
Thus, there is a more specific `openstack-met

[2019-09-12 14:06] ashcrow commented on #176
The sha256sum's are in the release docs https://github.com/coreos/afterburn/blob/master/docs/release-guide.md#6-assemble-vendor-tarball-and-publish-a-release

[2019-09-13 14:47] lucab commented on #176
I'm keeping this ticket open till the guide is actually converted into a checklist ticket template.

[2019-10-01 16:06] zonggen opened #277 "providers: Fetch instance-type metadata"
# Feature Request #
Since in `fedora-coreos-pinger`, we need to fetch the instance type of cloud providers and I am trying to avoid too much duplicate code between fedora-coreos-pinger, Afterburn and Zincati, it would be great if we could fetch cloud instance type here.

## Environment ##

Apply to all cloud providers.

## Desired Feature ##

Fetch `cloud instance type` for all providers.

## Othe

[2019-10-02 14:49] lucab opened #279 "providers: add support for Alibaba Cloud"
Fedora CoreOS is targeting Alibaba Cloud as a new platform: https://github.com/coreos/fedora-coreos-tracker/issues/276.

Afterburn should also support that, with the platform ID `aliyun`.

This cloud platform has a metadata endpoint, documented at https://www.alibabacloud.com/help/doc-detail/49122.htm.

[2019-10-03 14:03] zonggen commented on #277
For different platforms, fetch `instance-type` as follows:
 - _AWS_: `GET meta-data/instance-type`
 - _Azure_: `GET metadata/instance/compute/sku?`
 - _Cloudstack_: `GET latest/meta-data/service_offering`
 - _DigitalOcean_: No similar type information provided ([link_to_metadata_schema](https://developers.digitalocean.com/documentation/metadata/#metadata-in-json))
 - _GCP_: `GET computeMetadata/v1

[2019-10-04 08:27] lucab commented on #277
@zonggen great investigation! I've forwarded a feature request to DigitalOcean to add that information to their metadata: https://github.com/digitalocean/api-v2/issues/182.
We can proceed without DO for the moment though.

[2019-10-04 15:12] zonggen commented on #277
@lucab Thanks for creating the issue!

[2019-10-07 22:33] mikeweilgart commented on #157
Incidentally, from the sshd_config documentation, I believe it would be *possible* to configure `AuthorizedKeysCommand` (and `AuthorizedKeysCommandUser`) to some shell command that would run `cat ~user/.ssh/authorized_keys.d/*`.

I don't think that's a good idea, mind you.  But when I found the `authorized_keys.d` directory in CoreOS, the first place I went was the ssh and sshd documentation, and

[2019-10-09 13:51] #279 closed, assigned to nobody

[2019-10-11 08:22] #277 closed, assigned to nobody

[2019-10-31 17:10] #176 closed, assigned to nobody

[2019-11-20 09:41] lucab opened #305 "aws: add support for metadata endpoint v2 (IMDSv2)"
AWS recently announced a new generation of their metadata endpoint, called IMDSv2.

It is a session-based service, meant to plug a few holes in the v1 design, most notably [SSRF](https://en.wikipedia.org/wiki/Server-side_request_forgery).
See the announcement at https://aws.amazon.com/blogs/security/defense-in-depth-open-firewalls-reverse-proxies-ssrf-vulnerabilities-ec2-instance-metadata-service/

[2019-11-21 13:04] lucab opened #307 "ibmcloud: make auto-detection logic concurrent"
This ticket is a work item for the following TODO note:
https://github.com/coreos/afterburn/blob/dba86a4a59255fd68d21589503ffb9a1f64d22f6/src/providers/ibmcloud/mod.rs#L23-L24

This is only relevant for `ibmcloud` Classic users, resulting in a unnecessary delay of a few seconds.

[2019-11-28 10:39] zyclonite opened #317 "sshkeys: do not fail if no keys are deployed"
# Bug #

## Operating System Version ##

30.20191014.1 (CoreOS preview)
(happened in previous versions as well)

## Afterburn Version ##

4.1.3

## Environment ##

aws

## Expected Behavior ##

no failing systemd unit after boot

## Actual Behavior ##

[code]

## Reproduction Steps ##

  1. start new ec2 instance without providing ssh keys
  2. ssh into instance and check for failed systemd units

[2019-11-28 11:18] lucab commented on #317
Thanks for the report.
This is indeed a buggy interaction between the file writing logic and the set of SSH keys being empty.

[2019-11-28 13:04] lucab commented on #317
PR at https://github.com/coreos/afterburn/pull/318.

[2019-11-29 15:56] #317 closed, assigned to nobody

[2019-12-02 12:56] lucab opened #320 "Release 4.3.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2019-12-02 14:56] lucab commented on #320
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.3.0
Published: https://crates.io/crates/afterburn/4.3.0

Thanks @jlebon for reviewing!

[2019-12-02 14:56] #320 closed, assigned to nobody

[2020-01-21 08:37] lucab opened #340 "Release 4.3.1"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2020-01-21 15:28] lucab commented on #340
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.3.1
Published: https://crates.io/crates/afterburn/4.3.1

[2020-01-21 15:28] #340 closed, assigned to lucab

[2020-01-29 09:14] lucab opened #343 "platform: add support for vultr"
This is a feature request to add support for a new cloud platform, [Vultr](https://www.vultr.com/).

Their metadata API is described at https://www.vultr.com/metadata/. We are mostly interested in attributes and SSH pubkeys at this point.

Overall platform discussion for Fedora Coreos is ongoing at https://github.com/coreos/fedora-coreos-tracker/issues/355 (which covers ID naming too).

[2020-02-13 12:46] lucab opened #355 "ibmcloud: split Classic logic to a dedicated platform"
Followup to https://github.com/coreos/coreos-assembler/issues/1119#issuecomment-584539165.

We decided to go in a different direction and move Classic logic to a dedicated platform ID `ibmcloud-classic`.

[2020-02-13 12:46] lucab commented on #307
Closing in favor of https://github.com/coreos/afterburn/issues/355.

[2020-02-13 12:46] #307 closed, assigned to nobody

[2020-02-27 09:38] lucab opened #369 "Release 4.3.2"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2020-02-27 09:46] lucab commented on #369
PR at https://github.com/coreos/afterburn/pull/370

[2020-02-27 09:47] lucab commented on #369
/cc @ignatenkobrain

[2020-02-27 13:51] lucab commented on #355
Fixed by https://github.com/coreos/afterburn/pull/359.

[2020-02-27 13:51] #355 closed, assigned to nobody

[2020-02-27 17:36] lucab commented on #369
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.3.2
Published: https://crates.io/crates/afterburn/4.3.2

[2020-02-27 17:36] #369 closed, assigned to lucab

[2020-03-07 23:24] lgogolin opened #373 "Wrong openstack provider"
# Bug #
Afterburn with --cmdline argument does not work on OpenStack

## Operating System Version ##
fedora-coreos-31.20200210.3.0

## Afterburn Version ##
Afterburn 4.1.3

## Environment ##
OpenStack

## Expected Behavior ##
/usr/bin/afterburn --cmdline--attributes=/run/metadata/afterburn
Mar 07 23:20:33.942 INFO Fetching http://169.254.169.254/latest/meta-data/hostname: Attempt #1
Mar 07 23:20:3

[2020-03-10 09:25] lucab commented on #373
@lgogolin thanks for the report.
While I understand this may be surprising, it is working as expected. In particular, you are hitting https://github.com/coreos/afterburn/issues/251 (which still need to be part of some proper documentation somewhere).

For your specific case,  OpenStack in general does not mandate a metadata-service as the baseline. Thus you can be in either one of these two cases:

[2020-03-10 09:36] lgogolin commented on #373
@lucab Yeah, I make it work by injecting parameters and forcing openstack-metdata as provider.

It was more about IMO wrong name for openstack provider hardcoded in the app which makes default approach `--cmdline` not working out of the box.

If You think this is not a BUG - We can close the issue

[2020-03-10 09:46] lucab commented on #373
I agree this is a terrible UX, and the bug is that it should be properly documented.

The root of this is that FCOS images can work with or without a metadata endpoint (thus the generic `openstack` platform ID), but Afterburn cannot (thus the `-metadata` suffix).

Sorry again for the pain/friction, I'm going to close this ticket and hopefully sometime soon we will have an end-to-end "Booting FCOS

[2020-03-10 09:46] #373 closed, assigned to nobody

[2020-03-10 09:46] lgogolin commented on #373
I read the issue You mentioned #251 and also issue from openshift as reference.

And to be honest do not understand where is the problem.

You mentioned there that metadata service in OpneStack is optional - true
I just do not see difference in approaches:

`--cmdline` does not work because ignition.id does not match
Fixed ignition.id but metadata not available - it will also fail on requesting da

[2020-04-01 17:06] vielmetti opened #381 "platform: support quad-NIC servers on Packet (n2)"
# Feature Request #

## Environment ##

What hardware/cloud provider/hypervisor is being used to run Afterburn?

Packet, specifically the n2 servers

## Desired Feature ##

At https://github.com/coreos/afterburn/blob/d56ad64d2ed26fc0e2bcb1650b6fa68c0d8fc17a/src/providers/packet/mod.rs#L248 the Packet provider properly handles dual-NIC systems, but does not currently support the quad-NIC n2 system

[2020-04-01 19:22] vielmetti commented on #381
Also noted is https://github.com/packethost/packngo/issues/173 where some of the relevant data is being returned wrong - it's possible that this issue in `packngo` and the Packet API will, when fixed, make this issue go away.

[2020-04-16 13:54] sohankunkerkar opened #394 "Add support for sending ssh_authorized_keys info into the journald log"
Tagging https://github.com/coreos/fedora-coreos-tracker/issues/279 issue for more visibility here.

In order to solve the above issue, there's one bullet point that talks about displaying information related to ssh_authorized_keys that were added by the `afterburn` process. After having some discussion around this topic(https://github.com/coreos/fedora-coreos-config/pull/344#pullrequestreview-3932

[2020-04-16 13:55] sohankunkerkar opened #395 "Add support for sending ssh_authorized_keys info into the journald log"
Tagging https://github.com/coreos/fedora-coreos-tracker/issues/279 issue for more visibility here.

In order to solve the above issue, there's one bullet point that talks about displaying information related to ssh_authorized_keys that were added by the `afterburn` process. After having some discussion around this topic(https://github.com/coreos/fedora-coreos-config/pull/344#pullrequestreview-3932

[2020-04-16 14:05] lucab commented on #395
For development, you can directly use the `master` branch from git as shown here: https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-git-repositories.
I'll work out a new `libsystemd` release in the meanwhile, but it would be good to confirm the existing logic doesn't have hidden bugs.

[2020-04-16 14:12] lucab commented on #394
Duplicate of https://github.com/coreos/afterburn/issues/395, closing.

[2020-04-16 14:12] #394 closed, assigned to nobody

[2020-04-16 16:13] lucab commented on #395
There is actually one missing piece in the library that needs to be implemented first, see https://github.com/lucab/libsystemd-rs/issues/43

[2020-04-23 15:03] #395 closed, assigned to sohankunkerkar

[2020-04-24 11:41] lucab opened #402 "Release 4.3.3"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2020-04-24 11:51] lucab commented on #402
PR at https://github.com/coreos/afterburn/pull/403

[2020-04-24 17:09] #402 closed, assigned to nobody

[2020-04-28 15:28] cgwalters opened #405 "azure: fails with ignition+password auth"
I booted a FCOS VM in Azure with just [an Ignition config](https://github.com/cgwalters/playground/blob/d72d980b66cc2cb84e658140e5a7406691457aad/fcct/ssh-basic.ign) and `--authentication-type password` to disable Azure's requirement for SSH keys.

[code]

[2020-04-28 15:57] lucab commented on #405
Thanks for the report.
I think that means that the XML value for [this property](https://github.com/coreos/afterburn/blob/v4.3.3/src/providers/azure/mod.rs#L307) is not a full-blown URL.
It would be interesting to dump the content of the `goalstate` response and see what it actually contains.

[2020-05-19 00:31] cgwalters commented on #405
Still seeing this in e.g. https://github.com/openshift/installer/pull/3613

[2020-05-19 08:11] lucab commented on #405
@cgwalters to the best of my knowledge you shouldn't be seeing this in OpenShift, as by design it is not supposed to use cloud SSH keys (unless that design decision changed at some point).

[2020-05-20 12:08] lucab opened #415 "Release 4.4.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2020-05-22 14:28] lucab commented on #415
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.4.0
Published: https://crates.io/crates/afterburn/4.4.0

[2020-05-22 15:02] #415 closed, assigned to nobody

[2020-05-22 17:36] rfairley opened #417 "Feature request: systemd target to synchronize instances of afterburn-sshkeys@.service"
# Feature Request #

## Environment ##

What hardware/cloud provider/hypervisor is being used to run Afterburn?

libvirt running Fedora CoreOS when this was brought up - applies to all platforms though.

## Desired Feature ##

Add a target `afterburn-sshkeys.target`, and have the `afterburn-sshkeys@.service` template specify `RequiredBy=afterburn-sshkeys.target` in the `[Install]` section. This wo

[2020-05-28 12:22] cgwalters commented on #405
Ah, right: https://gitlab.cee.redhat.com/coreos/redhat-coreos/merge_requests/972

[2020-05-28 15:57] jhmartin opened #418 "Update AWS metadata version"
# Feature Request #

## Environment ##

AWS

## Desired Feature ##
https://github.com/coreos/afterburn/blob/d8f74d5b6fd95dc201a406a68f33eb74b267dcbb/src/providers/aws/mod.rs#L65 references a fairly old AWS metadata version. To avoid confusion during support cases, consider using 2016-09-02 which is the most recent version specified at https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedat

[2020-05-28 16:01] jhmartin opened #419 "Support AWS IMDSv2"
# Feature Request #

## Environment ##

AWS

## Desired Feature ##

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instancedata-data-retrieval.html describes IMDSv2, which is a 2-step process to retrieving instance metadata. Enforcing IMDSv2 is beneficial for preventing attacks that trick an application into making requests to the IMDS and returning data such as the instance IAM credentials.

[2020-05-28 18:51] zonggen commented on #419
Thanks for reporting!

Though I believe this is a duplicate of https://github.com/coreos/afterburn/issues/305

[2020-05-28 20:56] jhmartin commented on #419
Oops, so it is!

[2020-05-28 20:56] #419 closed, assigned to nobody

[2020-05-29 08:12] lucab commented on #418
Self note: see similar thread on Ignition https://github.com/coreos/ignition/issues/989.

[2020-06-05 08:05] #418 closed, assigned to nobody

[2020-06-10 14:22] #305 closed, assigned to nobody

[2020-06-16 14:25] lucab commented on #343
As noted at https://docs.fedoraproject.org/en-US/fedora-coreos/platforms/#_well_known_ids, we settled on `vultr` as the ID for this platform. I think there are not blockers anymore at this point, we can work on this.

[2020-06-16 16:17] lucab commented on #405
I do suspect we are getting back an empty property value or some other kind of magic marker. If that's indeed the way for the platform to signal "SSH keys are disabled", we should probably gracefully warn and exit without error in that specific case.

[2020-06-25 22:10] darkmuggle opened #441 "providers: add a new "azurestack" platform (client logic for AzureStackHub)"
Afterburn fails completely due to 500 errors on the metadata source. With https://github.com/coreos/ignition/commit/0c0ec63a86a54f454f80740e99954ce86513f30a I was able to boot on AzureStack.

A complete different issue:
[code]
And then:
[code]
And ending with:
[code]

[2020-06-25 22:11] darkmuggle commented on #441
Since this AzureStack and its not a supported variant (AFAIK), I'm calling this a feature request and NOT a bug. Unless other ~victim~ are eager to work on this, I'd like to volunteer myself.

Work on this is tenatively scheduled for the 4.7 OCP cycle.

[2020-06-25 22:12] darkmuggle commented on #441
/cc @cfBrianMiller

[2020-06-26 07:34] lucab commented on #146
We should be now in a better position to tackle this, as at least we have a single network management stack in initramfs in both RHCOS and FCOS (NM with the internal DHCP client).

[2020-06-26 07:49] lucab commented on #441
This in fact `168.63.129.16`. So, bad that we don't have https://github.com/coreos/afterburn/issues/146 but good that the fallback worked there too.

~~According to https://github.com/coreos/fedora-coreos-tracker/issues/476#issuecomment-649898246 the problem is with the API version. Which is weird because the (Azure) platform docs at https://docs.microsoft.com/en-us/azure/virtual-machines/windows/

[2020-06-26 14:11] darkmuggle commented on #441
Allegedly -- and I've asked for documentation -- but AzureStack does not support the instance meta-data service.

[2020-06-26 15:02] pekramp commented on #441
got the documentation for you https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vm-considerations?view=azs-2002

Azure Instance Metadata Service | The Azure Instance Metadata Service provides info about running VM instances that can be used to manage and set up your VM. | The Azure Instance Metadata Service isn't supported on Azure Stack Hub.

[2020-06-26 17:13] lucab commented on #441
Which then makes me wonder, where does an AzureStack instance get its hostname? Is that in the DHCP options?

[2020-06-29 11:25] lucab opened #446 "Release 4.4.1"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive of v

[2020-06-29 12:00] lucab commented on #446
Waiting for https://github.com/coreos/afterburn/pull/444 to merge before tagging this.

[2020-06-30 09:37] lucab commented on #446
PR at https://github.com/coreos/afterburn/pull/448

[2020-06-30 11:02] lucab commented on #446
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.4.1
Published: https://crates.io/crates/afterburn/4.4.1

[2020-06-30 11:02] #446 closed, assigned to nobody

[2020-07-10 08:04] lucab opened #452 "vmware: virtual CPU is misdetected in some cases"
Due to a bug in the underlying library, some virtual CPU in vmware may be missed by the detection logic, resulting in boot failure when trying to use custom networking cmdline arguments. Bumping `vmw_backdoor` to 0.1.3 should fix this.

Ref: https://github.com/lucab/vmw_backdoor-rs/issues/3

[2020-07-10 11:02] lucab commented on #405
I just checked on a password-auth instance, and indeed there is no `Certificates` entry in the `Configuration` stanza. This is how the XML section there looks like:
[code]

[2020-07-10 11:06] #452 closed, assigned to nobody

[2020-07-13 15:26] #405 closed, assigned to lucab

[2020-07-14 08:21] lucab opened #456 "Release 4.4.2"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-07-14 08:25] lucab commented on #456
PR at https://github.com/coreos/afterburn/pull/457

[2020-07-14 13:56] cgwalters opened #458 "qemu: implement boot-time checkin (via ovirt-guest-agent protocol)"
Currently if FCOS fails in very early boot (e.g. in the bootloader or kernel, before switching to the initramfs), it's...hard to detect consistently.  For example, we have a test for Secure Boot, but it turns out that if the [kernel fails to verify](https://bugzilla.redhat.com/show_bug.cgi?id=1856501) then...coreos-assembler today hangs for a really long time.

We can scrape the serial console in

[2020-07-14 14:20] lucab commented on #458
[Tackling only one bit out of the larger context]

This sounds not very different from [Azure boot check-in](https://github.com/coreos/afterburn/blob/master/systemd/afterburn-checkin.service), which we are performing in a non-homogeneous way today (RHCOS does it in initramfs, FCOS does is after `boot-complete.target`).

We could think about consolidating it in a "first-boot initramfs reached" chec

[2020-07-14 15:18] lucab commented on #456
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.4.2
Published: https://crates.io/crates/afterburn/4.4.2

[2020-07-14 15:18] #456 closed, assigned to nobody

[2020-07-14 16:02] cgwalters commented on #458
(forwarding some real time discussion here)

I think you're absolutely right - we should think of this as "add a first-boot checkin to our qemu model", since that model already exists on some clouds.

And then further discussion turned up https://wiki.qemu.org/Features/GuestAgent - so we could implement the minimum there in Afterburn, and have coreos-assembler time out if the guest doesn't reply t

[2020-07-14 19:49] cgwalters commented on #458
OK, moved this issue to afterburn.

I took a quick look at implementing this.  I'd like to propose that we have afterburn run itself as a systemd generator early on startup, rather than shipping static units; this would give us a clean way to order our guest startup unit invocation
`After=/dev/virtio-ports/agent`
(And we could also tweak the unit to not be `After=network-online.target` for the qem

[2020-07-15 10:41] lucab commented on #458
That doesn't look like a great fit. In particular, the protocol is unidirectional (host->guest) which means that we have to sit in initramfs waiting to be polled (instead of actively signaling a guest->host event, like we do on Azure and Packet), and we can't really leave the initramfs until we have been polled.
The amount of time we should be sitting there is somehow arbitrary, I guess. In the va

[2020-07-15 14:31] #343 closed, assigned to bh7cw

[2020-07-15 16:37] cgwalters commented on #458
You're right, once I started working on the code I noticed the inversion of control.

Discussing the oVirt protocol though gets into the much bigger topic of whether we want to try to implement more of the protocol for real as an agent on that platform, and how the platform would behave with our likely-to-be-a-subset of the functionality.

I guess as a start we could just respond to the channel on

[2020-07-16 13:23] lucab opened #459 "azure: keep retrying requests a bit longer"
On Azure, Afterburn currently sends requests to the metadata/wireserver endpoint with some mildly aggressive retrying logic, which on failures results in sending about 10 requests in ~1 minute.

According to https://github.com/Azure/azure-sdk-for-go/issues/1848, the WireServer routinely goes down for maintenance with a p90 downtime up to 3 minutes (!) for each restart event.

As such, in order to

[2020-07-21 13:50] lucab opened #461 "azure: boot reporting fails if boot diagnostic is enabled after instance creation"
If an Azure instance is created with "Boot diagnostics: off" and then later on while booting the setting is turned to "on", Afterburn boot check-in will fail with an output like this:

[code]

This seems unrelated to https://github.com/coreos/afterburn/issues/459, i.e. it isn't a timeout issue.

I played a guessing game on the root cause for this, and via empirical experimentation it seems to be d

[2020-07-27 09:45] lucab commented on #461
As a pre-requirement, this needs a larger rewrite of the `azure` provider. Right now we fetch the goalstate when instantiating the provider, and cache its content for the rest of the logic which runs later. Instead, we should fetch it on-spot in order to have fresher content (i.e. latest incarnation number).

Additionally, please note that there is an implicit race in this Azure API, so there is n

[2020-07-29 09:38] lucab commented on #146
For reference, NM lease files do not seem to contain the DHCP option:
[code]

[2020-07-29 11:01] lucab commented on #458
Additional note: on Azure the firstboot check-in also ejects the Virtual CD (paging @darkmuggle for confirmation), so I fear we cannot really check in before Ignition fetching is completed.

[2020-07-30 11:44] lucab commented on #96
Nowadays, this also applies to other providers handling a config-drive (e.g. the IBM ones). Library to use here would be https://docs.rs/caps.

[2020-07-30 15:10] lucab commented on #452
The fix for this went into v4.4.2.

[2020-07-30 15:16] #95 closed, assigned to bh7cw

[2020-08-03 13:20] cgwalters commented on #458
Right, [this comment](https://github.com/coreos/afterburn/issues/458#issuecomment-658378992) proposes making our systemd units platform-dependent.

(Also we discussed a while changing Ignition on Azure to save the config to `/boot` or so)

[2020-08-03 14:54] lucab opened #472 "ibmcloud: add support for SSH keys"
# Feature Request #

## Environment ##

Instances on `ibmcloud` platform (i.e. IBM cloud VPC gen2)

## Desired Feature ##

The `afterburn-sshkeys` service should work on this platform too, grabbing SSH keys from instance metadata and forwarding them to authorized keys.

[2020-08-03 18:21] erlarese commented on #472
I have a fork started with a first pass at the changes for this here: https://github.com/coreos/afterburn/compare/master...erlarese:master

I think this issue could be assigned to me ?

[2020-08-04 08:14] lucab commented on #472
Thanks, done! Feel free to open a PR whenever you are ready to get feedback, I'll happily go through it.

[2020-08-05 08:20] #459 closed, assigned to nobody

[2020-08-05 08:20] #461 closed, assigned to nobody

[2020-08-05 09:33] lucab opened #473 "Release 4.5.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-08-05 09:39] lucab commented on #473
PR at https://github.com/coreos/afterburn/pull/474

[2020-08-06 09:47] lucab commented on #473
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.5.0
Published: https://crates.io/crates/afterburn/4.5.0

[2020-08-06 09:47] #473 closed, assigned to nobody

[2020-08-12 10:58] bgilbert commented on #458
We don't need to do it as a generator, though, right?  We can just ship some static units with `ConditionKernelCommandLine=ignition.platform.id=X`.

[2020-08-13 22:58] darkmuggle commented on #441
Now that Ignition [1] treats Azure Stack as a separate platform, we might have "just enough" to get FCOS/RHCOS booted on Azure{Stack,Hub} [1a, 1b]. The provided OVF from Microsoft looks suspect to me; the XML looks like its describing a Windows instance. Regardless the OVF XML given to us for AzureStack deviates substantially from what we know exists on Azure.

I started a stub [3], but after look

[2020-08-13 23:00] darkmuggle commented on #441
/cc @ashcrow @miabbott

[2020-08-17 14:22] bh7cw commented on #417
Manually created `afterburn-sshkeys.target`, and added `RequiredBy=afterburn-sshkeys.target` in `afterburn-sshkeys@.service` template on FCOS 32 created on AWS.
Each time run `systemctl start afterburn-sshkeys.target`, all the template instances will be updated:
[code]

[2020-08-21 07:34] #472 closed, assigned to erlarese

[2020-08-24 05:48] yunhui-del opened #482 "dracut: run hostname service on aliyun"
AliCloud havn't DHCP for set hostname when firstboot, could you add condition for aliyun in afterburn-hostname.service ?
@lucab

[2020-08-25 13:57] #417 closed, assigned to bh7cw

[2020-08-25 14:42] cgwalters commented on #458
Yeah; the duplication there might get ugly but OTOH I guess we could generate the units *statically* i.e. as part of the build process.

[2020-08-25 17:18] AdamWill commented on #458
@cgwalters pointed me to this ticket, so for the record, as he knows, in the last week I've been working on running openQA tests on Fedora CoreOS. It's not very difficult, and we have it working already, the only question mark for a 'production' deployment would be when and on what to trigger the tests.

openQA definitely does do a fairly good job of letting you know if the artifact under test boo

[2020-08-31 13:53] cgwalters commented on #458
To be clear kola already covers this pretty well in general - we just have a few specific gaps, such as the case when a Secure Boot signature validation fails.

[2020-09-01 12:18] lucab commented on #482
Thanks for the report. The fix for this is indeed a small tweak to the hostname service conditions. However last time we were doing cloud-enablement work for `aliyun` I don't remember noticing the hostname missing from DHCP.

@xuanyunhui which region and instance type are you using?

Before proceeding I'll try to get back access to an account myself and check what's going on, possibly in the next

[2020-09-02 01:53] yunhui-del commented on #482
Thank for your response. We are use **ecs.g6.4xlarge** in **region cn-beijing-h**, is this issues also with any other instance type in any other region. I confirm aliyun haven't DHCP in VPC with employee of aliyun.

[2020-09-02 10:25] lucab opened #485 "Release 4.5.1"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-09-02 15:27] lucab commented on #485
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.5.1
Published: https://crates.io/crates/afterburn/4.5.1

[2020-09-02 15:27] #485 closed, assigned to nobody

[2020-09-07 21:46] robertvolkmann commented on #482
@lucab I also run in this issue and created a pull request for it.

[2020-09-14 15:54] darkmuggle commented on #441
As it turns out, we need to implement check-in support. FCOS will boot, but it will NOT check-in and get a hostname.

[2020-09-14 22:36] bh7cw opened #490 "docs: add brief intro for platforms"
When I looked at the providers, there are `cloudstack`, `openstack`, `azurestack`(in the near future) confusing me in the beginning. Would help with brief intro or website links for platforms if anyone feels the same way.

[2020-09-15 08:44] lucab commented on #490
In general it'd be good to stick to referencing https://docs.fedoraproject.org/en-US/fedora-coreos/platforms/ as the canonical source for platform IDs. There are a few platforms that came from Container Linux and that Afterburn still understands, though.

[2020-09-15 14:21] bh7cw commented on #490
This https://docs.fedoraproject.org/en-US/fedora-coreos/platforms/ is clear. How do you think if summary those and platforms that came from Container Linux?

[2020-09-15 15:21] lucab commented on #490
From an out-of-band conversation: we are trying to maintain developer documentation inline as rustdocs comments. Those can be viewed through `cargo doc --document-private-items --open`.
The `providers` module contains an (admittedly messy) list of of platforms with relevant outgoing links.

[2020-09-15 15:31] bh7cw commented on #490
Thanks for clarifying. Based on this, I will close the issue.

[2020-09-15 15:31] #490 closed, assigned to nobody

[2020-10-14 17:40] bgilbert opened #503 "Release 4.5.2"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-10-20 13:10] #503 closed, assigned to sohankunkerkar

[2020-10-20 13:17] lucab commented on #503
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.5.2
Published: https://crates.io/crates/afterburn/4.5.2

[2020-10-21 20:52] sohankunkerkar commented on #503
This release ended up pointing to the `development version bump` commit rather than the release commit, so creating a new release i.e `v4.5.3` to off-set that problem.

[2020-10-21 20:55] sohankunkerkar opened #507 "Release 4.5.3"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-10-22 03:19] sohankunkerkar commented on #507
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.5.3
Published: https://crates.io/crates/afterburn/4.5.3

[2020-10-22 03:19] #507 closed, assigned to sohankunkerkar

[2020-10-26 09:20] lucab opened #509 "dracut/hostname: shorten overlong hostname"
On a subset of platforms, the `afterburn-hostname.service` tries to retrieve the node hostname from a metadata field and forward any value from there into `/etc/hostname` as the machine static hostname.

According to POSIX.1 "Host names (not including the terminating null byte) are limited to `HOST_NAME_MAX` bytes".  On Linux, `HOST_NAME_MAX` is defined with the value `64`, see https://man7.org/li

[2020-10-31 06:02] jamescassell commented on #509
I've run into some problematic applications that barf if the hostname of the system is not the FQDN rather than the short name... hopefully those are rare. (openshift-ansible for OKD 3.11 had this issue.)

[2020-11-02 18:31] AdamWill commented on #458
for the record once more, we did deploy the openQA CoreOS testing stuff to production. The scheduling works by just checking once an hour if any of the named streams has been updated, and scheduling tests for the new build if so. Results show up at https://openqa.fedoraproject.org/group_overview/1?limit_builds=100 , e.g. [here](https://openqa.fedoraproject.org/tests/overview?distri=fedora&version=

[2020-11-04 16:52] cgwalters commented on #509
For Kubernetes it's required that the hostname be routable.  Which means that the "hostname shortening" logic *must* match whatever the cloud provider (GCP) will do.

[2020-11-10 11:34] #482 closed, assigned to nobody

[2020-11-12 03:27] pk-vungle opened #517 "Appending DNS to IPCFG"
# Feature Request #
guestinfo.afterburn.initrd.network-kargs should be able to read DNS nameservers for VMware environments.

According to dracut, this should work:
ip=client-IP:[peer]:gateway-IP:netmask:client_hostname<interface:{none|off|dhcp|on|any|dhcp6|auto6|ibft}[:[dns1][:dns2]]

## Environment ##
VMware version 15

What hardware/cloud provider/hypervisor is being used to run Afterburn?
I'm

[2020-11-12 08:15] lucab commented on #517
Thanks for the report. Afterburn does not process the argument itself, it only propagates that for other software to consume in the initramfs.

I think you are facing either one of:
 * a wrong syntax (I think the manpage is actually telling you to use `ip=<...>:ens192:off:8.8.8.8`)
 * NetworkManager not correctly consuming the `ip=`

As such, I'm closing this bug here, but feel free to continue yo

[2020-11-12 08:15] #517 closed, assigned to nobody

[2020-12-08 18:44] sohankunkerkar opened #528 "Release 4.6.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2020-12-09 22:30] sohankunkerkar commented on #528
Tagged: https://github.com/coreos/afterburn/releases/tag/v4.6.0
Published: https://crates.io/crates/afterburn/4.6.0

[2020-12-09 22:30] #528 closed, assigned to sohankunkerkar

[2020-12-10 17:46] arithx opened #531 "Update release-checklist with packaging instructions"
The release-checklist should be updated with packaging instructions so that it's a clearly documented, repeatable process that can be done without going around to acquire tribal knowledge.

[2021-04-08 15:39] sohankunkerkar opened #576 "Release 5.0.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2021-04-09 09:44] sohankunkerkar commented on #576
Tagged: https://github.com/coreos/afterburn/releases/tag/v5.0.0
Published: https://crates.io/crates/afterburn/5.0.0

[2021-04-09 09:44] #576 closed, assigned to sohankunkerkar

[2021-06-22 20:04] cgwalters commented on #509
OK this came up again recently in https://github.com/openshift/machine-config-operator/pull/2401 and here's my proposal:

We ship `afterburn-transient-hostname.service` that is disabled by default, but can be enabled e.g. by the MCO.  We also move the special GCP hostname truncation into this project.

That way the MCO doesn't need to carry bash code that shleps the hostname to a file, etc.

[2021-08-10 01:58] sohankunkerkar opened #606 "Release 5.1.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2021-08-10 19:16] sohankunkerkar commented on #606
crate: https://crates.io/crates/afterburn
release: https://github.com/coreos/afterburn/releases/tag/v5.1.0

[2021-08-10 19:16] #606 closed, assigned to sohankunkerkar

[2021-10-21 20:43] dustymabe opened #632 "afterburn writes authorized keys even when it gets a 404 from openstack metadata service"
# Bug #

afterburn outputs an extra log message (and possibly writes an authorized keys file) when it shouldn't. It gets a 404 which means it shouldn't write anything out

![Screenshot 2021-10-21 at 16-30-17 kola-b56a4bb3-54580fa4af(7c5ba524-c3e2-49f1-816e-a89c3369eec2)](https://user-images.githubusercontent.com/4530030/138353476-91320665-6234-47db-81bd-78161f7dd1ae.png)

## Operating System Versi

[2021-12-10 15:10] dustymabe opened #652 "30s delay on Azure boot: "Failed to get fabric address from DHCP""
## Bug #

When booting a Fedora CoreOS instance on azure there is a 30 second delay:

[code]

Basically it's using the fallback path added in https://github.com/coreos/afterburn/pull/145, which allows the boot to complete, but with a 30s delay. We need to add a fix here so we don't have a default 30s delay on our Azure boot.

### Operating System Version ##

Fedora CoreOS `35.20211208.dev.0` - dev

[2022-01-06 19:14] cgwalters commented on #509
It turned out this bit us *badly* in https://bugzilla.redhat.com/show_bug.cgi?id=2008521#c40

Clearly, we should have gone this route from the start.

[2022-01-10 15:07] cgwalters commented on #509
@lucab Did you have any further thoughts on this?

It seems like we're all in agreement that afterburn should do this?

[2022-01-10 17:02] lucab commented on #509
Yes, I agree Afterburn should more strictly honor `HOST_NAME_MAX` if not doing so causes further bugs in downstream components. That may cause a regression for folks that were previously using overlong hostnames, but I think those should be considered buggy cases.

However I don't think this would resolve the BZ you linked, for two reasons:
 * on GCP, the hostname comes from the DHCP. There, NM is

[2022-01-11 00:50] cgwalters commented on #509
Yes, but not in OpenShift today.  The `mco-hostname.service` owns it, but only after the pivot, and crucially only *after* NM has run.

Yes, I think everyone agrees with this.  However, since it's afterburn that is writing a too-long `/sysroot/etc/hostname` today, the idea is it's easier to fix there first.

This is a good point.  I really hope there aren't cases where we're hitting that today.  I

[2022-01-12 14:40] #509 closed, assigned to nobody

[2022-01-12 17:54] bgilbert opened #674 "Release 5.2.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2022-01-12 18:51] bgilbert commented on #674
Ideally we'd get #631 in first.

[2022-01-13 16:45] #632 closed, assigned to nobody

[2022-01-13 20:58] bgilbert commented on #674
Now waiting on #677.

[2022-01-14 15:14] #674 closed, assigned to bgilbert

[2022-01-26 03:12] paulnivin opened #694 "systemd: excessive Requires/After can result in dependency failure"
# Bug #

## Operating System Version ##
Fedora CoreOS 35.20220103.3.0

## Afterburn Version ##
5.1.0

## Environment ##
AWS

## Expected Behavior ##
The default afterburn systemd service config should not fail if lots of dependent services on a host follow the afterburn documentation for systemd and set `Requires=afterburn.service` with `After=afterburn.service`.

## Actual Behavior ##
Since `afte

[2022-01-26 12:06] lucab commented on #694
Thanks for the report. Yes I think the service unit is indeed missing a `RemainAfterExit=yes`, right I'm not seeing any good reasons why it shouldn't have that.

[2022-01-26 15:03] jlebon commented on #694
Ahh yes, that's a classic. Turns out we had multiple services which didn't do this. Opened https://github.com/coreos/afterburn/pull/695 to address them all.

[2022-01-26 17:32] #694 closed, assigned to nobody

[2022-02-15 19:59] jlebon opened #705 "Test `providers::aws::mock_tests::test_aws_basic` is flaky"
Just hit this in a COPR build:

[code]

It passed on the next try.

Permalink to the referenced line: https://github.com/coreos/afterburn/blob/7314651de320467a701172d8f8489926a386e188/src/providers/aws/mock_tests.rs#L22

@lucab Have you seen these mocked calls flake before?

[2022-02-16 09:04] lucab commented on #705
I have never observed this one before. It sounds like a race in `mockito` when deregistering mocks, however I did a quick reading through its code and didn't spot any obvious issues.
This may be related to the fact that we have multiple conflicting mocks and we rely on shadowing them under the name same. Moving to explicit non-overlapping scope may help here.

I've opened https://github.com/coreos

[2022-02-23 14:48] jlebon opened #714 "Test `providers::aws::mock_tests::test_aws_imds_versions` is flaky"
Saw it fail in a COPR build:

[code]

Permalink to referenced line:

https://github.com/coreos/afterburn/blob/fd9e1ee761d9b4111479f99b9a305208c504c8f8/src/providers/aws/mock_tests.rs#L183

This may be related to the flake in https://github.com/coreos/afterburn/issues/705 but keeping it separate for now.

[2022-02-23 15:09] lucab commented on #714
I'm almost running out of ideas, and starting to feel this may be either due to poor rng or to wrong optimization in release mode.

My next attempt would be splitting that test in two separate imds v1 and v2 ones, and doing an explicit `drop(mocks)` before the `reset()`.

[2022-02-23 17:51] jlebon commented on #714
Let's give it a shot. Opened https://github.com/coreos/afterburn/pull/716.

[2022-03-17 16:57] jlebon commented on #714
We haven't hit this again so far, so let's optimistically close as fixed by #716 for now.

[2022-03-17 16:57] #714 closed, assigned to nobody

[2022-03-17 16:57] jlebon commented on #705
We haven't hit this again so far, so let's optimistically close as fixed by #706 for now.

[2022-03-17 16:57] #705 closed, assigned to nobody

[2022-03-26 17:35] jkroepke opened #726 "Support IPv6 on AWS"
# Feature Request #

Currently afterburn only support IPv4 metadata, if the platform is AWS.

https://github.com/coreos/afterburn/blob/6e3f5452437cfcafc8c7abd6594b4e879a8bbc8d/src/providers/aws/mod.rs#L163-L164

Since [AWS announced IPv6 only subnets](https://aws.amazon.com/de/blogs/networking-and-content-delivery/introducing-ipv6-only-subnets-and-ec2-instances/)

The IPv6 address can recived thro

[2022-03-27 00:26] bgilbert commented on #726
PR in #727.

[2022-04-05 14:18] #726 closed, assigned to nobody

[2022-04-19 15:38] sohankunkerkar opened #733 "Release 5.3.0"
# Release process

This project uses [cargo-release][cargo-release] in order to prepare new releases, tag and sign the relevant git commit, and publish the resulting artifacts to [crates.io][crates-io].
The release process follows the usual PR-and-review flow, allowing an external reviewer to have a final check before publishing.

In order to ease downstream packaging of Rust binaries, an archive

[2022-04-19 15:39] sohankunkerkar commented on #733
Need https://github.com/coreos/afterburn/pull/728 before proceeding with this release

[2022-04-29 21:00] sohankunkerkar commented on #733
RHCOS packaging is blocked on https://issues.redhat.com/browse/CLOUDBLD-9869

[2022-05-02 17:44] sohankunkerkar commented on #733
This is resolved

[2022-05-02 17:44] #733 closed, assigned to sohankunkerkar

[2022-06-01 01:25] dustymabe opened #755 "afterburn-sshkeys fails if no ssh key in metadata on ibmcloud"
# Bug #

If I don't pass an ssh key when starting an instance I get this error from afterburn:

[code]

It should be fine if no ssh key was provided because the user could have provided it via Ignition.

cc @erlarese

## Operating System Version ##

Fedora CoreOS 36.20220511.dev.0 on s390x in IBM Cloud

## Afterburn Version ##

[code]

## Environment ##

s390x instance in IBMCloud

## Expected Beh

[2022-09-26 14:23] lucab commented on #146
To make this ticket easier to find out, this bug currently means that on Azure we have to wait for a timeout:
[code]

It it gets too annoying to have this timeout, we could try to add some smarter heuristic in Afterburn in order to directly reach the Azure hardcoded IP.

[2022-10-18 01:44] bgilbert opened #816 "Consider switching argument parsing to `clap_derive`"
It's been a nice cleanup in other projects where we've used it.

[2022-11-01 16:08] #755 closed, assigned to sohankunkerkar